numpy==1.26.4
django>=5.1.6
djangorestframework>=3.15.2
django-cors-headers>=4.7.0
celery[redis]>=5.4.0
gunicorn>=23.0.0
msgpack>=1.1.0
PyYAML==5.3.1
valkey>=6.1.0
wand>=0.6.13
requests>=2.32.3
imageio[pyav,ffmpeg]>=2.37.0
grpcio==1.71.0
grpcio-tools==1.71.0
pympi-ling==1.70.2
pandas>=2.2.2
pymemcache>=4.0.0