@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* Shepherd */
.shepherd-content .shepherd-header {
  background-color: rgb(var(--v-theme-secondary)) !important;
  color: white !important;
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

.shepherd-title {
  color: white !important;
  font-size: 0.8rem !important;
}

.shepherd-text {
  color: white !important;
  font-size: 0.9rem !important;
  margin-left: 0.25rem !important;
}

.shepherd-element {
  background-color: rgb(var(--v-theme-secondary)) !important;
  color: white !important;
  border-radius: 8px;
}

.shepherd-button {
  background-color: rgb(var(--v-theme-secondary)) !important;
  color: white !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.shepherd-button:hover {
  background-color: white !important;
  color: rgb(var(--v-theme-secondary)) !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.shepherd-cancel-icon {
  color: white !important;
  font-size: 1.5rem !important;
}

.shepherd-arrow:before {
  background: rgb(var(--v-theme-secondary)) !important;
}

/* Shepherd: Final Step green */
.tutorial-final-step .shepherd-content,
.tutorial-final-step .shepherd-header {
  background-color: rgb(var(--v-theme-success)) !important;
  color: white !important;
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

.tutorial-final-step .shepherd-title {
  color: white !important;
  font-size: 0.8rem !important;
}

.tutorial-final-step .shepherd-text {
  color: white !important;
  font-size: 0.9rem !important;
  margin-left: 0.25rem !important;
}

.tutorial-final-step .shepherd-element {
  background-color: rgb(var(--v-theme-success)) !important;
  color: white !important;
  border-radius: 8px;
}

.tutorial-final-step .shepherd-button {
  background-color: rgb(var(--v-theme-success)) !important;
  color: white !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.tutorial-final-step .shepherd-button:hover {
  background-color: white !important;
  color: rgb(var(--v-theme-success)) !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.tutorial-final-step .shepherd-cancel-icon {
  color: white !important;
  font-size: 1.5rem !important;
}

.tutorial-final-step .shepherd-arrow:before {
  background: rgb(var(--v-theme-success)) !important;
}
