@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.v-input.lang .v-select__selections {
  color: #457b9d !important;
}

.theme--light.v-chip,
.theme--light.v-sheet,
.theme--light.v-input input,
.theme--light.v-application,
.theme--light.v-pagination .v-pagination__item,
.theme--light.v-expansion-panels .v-expansion-panel,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.v-main .v-text-field--outlined.v-input--has-state fieldset,
.v-main .v-text-field--outlined.v-input--is-focused fieldset,
.v-card.login .v-btn.register,
.v-banner .v-btn--text:hover .v-icon,
.vis-button:after {
  color: #1d3557 !important;
}

/* Shepherd */
.shepherd-content .shepherd-header {
  background-color: #457b9d !important;
  color: white !important;
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

.shepherd-title {
  color: white !important;
  font-size: 0.8rem !important;
}

.shepherd-text {
  color: white !important;
  font-size: 0.9rem !important;
  margin-left: 0.25rem !important;
}

.shepherd-element {
  background-color: #457b9d !important;
  color: white !important;
  border-radius: 8px;
}

.shepherd-button {
  background-color: #457b9d !important;
  color: white !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.shepherd-button:hover {
  background-color: white !important;
  color: #457b9d !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.shepherd-cancel-icon {
  color: white !important;
  font-size: 1.5rem !important;
}

.shepherd-arrow:before {
  background: #457b9d !important;
}

/* Shepherd: Final Step green */
.tutorial-final-step .shepherd-content,
.tutorial-final-step .shepherd-header {
  background-color: green !important;
  color: white !important;
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

.tutorial-final-step .shepherd-title {
  color: white !important;
  font-size: 0.8rem !important;
}

.tutorial-final-step .shepherd-text {
  color: white !important;
  font-size: 0.9rem !important;
  margin-left: 0.25rem !important;
}

.tutorial-final-step .shepherd-element {
  background-color: green !important;
  color: white !important;
  border-radius: 8px;
}

.tutorial-final-step .shepherd-button {
  background-color: green !important;
  color: white !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.tutorial-final-step .shepherd-button:hover {
  background-color: white !important;
  color: green !important;
  border-radius: 6px;
  border: 1px solid white !important;

  padding: 0.4rem 1rem !important;
  font-size: 1rem !important;
  margin-right: 0.25rem !important;
  line-height: 1.2 !important;
}

.tutorial-final-step .shepherd-cancel-icon {
  color: white !important;
  font-size: 1.5rem !important;
}

.tutorial-final-step .shepherd-arrow:before {
  background: green !important;
}
