numpy==1.26.4
opencv-python-headless==4.11.0.86
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
cython
cython_bbox
pycocotools
gdown
ray[serve]
onnx==1.13.0
onnxruntime==1.13.1
onnx-simplifier==0.3.5